/*.one {
    background-color:lightseagreen;
    text-align: center;
    top: 150px;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
    padding-top: 40px;
}   */

.navbar {
    padding: -10px;
    display:flex;
    justify-items: first baseline;
    background-color:white;
    color: white;
    white-space: nowrap;
}
.navbar .left{
    color:lightseagreen;
    font-size: 25px;
    text-align: left;
    top: 10px;
    
    
}
.list{
    list-style: none;
    display: flex;
    gap: 20px; 

}
.link{
    text-decoration: black;
    color: black;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.link:hover{
    color:lightseagreen;
    padding-bottom: 15px;

}
.two{
    color: black;
    width: 20px;
    height: 20px;

    
}
.two button{
    display: block;
    margin: 15px auto;
    width: 250px;
    padding: 5px;
    padding-bottom: 1px;
    object-position: center;
    font-size: 20px;
    background-color:blue;
    border: none;
    border-radius: 10px;
    color: white;
}
/*GRID STYLE*/
/*.wrapper div{
    background-color: skyblue;
    border: 1px solid;
    padding: 10px;
}*/
/*.wrapper div:nth-child(odd){
    background-color: yellow;
}*/
.wrapper{
    background-image: url(../images/joe-coffee-classes-coffee-together-apart-brewing-block-960x720.jpg);
    background-size: cover;
    background-position: top;
    padding-top: 100px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    grid-auto-rows: minmax(300px,auto);
    
    
}
.tango{
    text-align: center;
    font-weight: lighter;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
.tango h3{
    font-weight: lighter;
}
.sink{
    list-style: none;
    display: flex;
    gap: 10px ;
    padding-right: 150px;
    text-decoration: black;
    color: black;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: medium;
    text-align:center ;
    background-color: gainsboro;
}

.sink:hover{
    color: lightseagreen;
}
.fall{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 150px;
    grid-auto-rows: minmax(300px,auto);
    margin: 30px,10px;
    
}
.a h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.b h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.c h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.d h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.e h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.cr7{
    color: black;
    text-decoration:black ;
     margin: 0 auto;
    border: 1px solid;
     justify-content: center;
    align-items: center;
}
.cr7:hover{
    color: lightseagreen;
    image-resolution: 10px;
    opacity: 0.5;
    
}
/*.sentinel{
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}*/
