.row img{
    width: 100px;;
    height:400px;
    transition: 1s;
    transform:scale(0,7);
    border-radius: 50%;
}
.row img:hover{
     border-radius: 10px;
     transform: scale (1.1);
     transform:rotateY(360deg);
    

}
.two{
    display:block;
    border:solid;

}
#three{
    display:block;
    border:solid;
 
}